@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

.principal {
  width: 100vw;
  height: 100vh;
  background: url(images/bg-pattern-top-desktop.svg) no-repeat,  
  url(images/bg-pattern-bottom-desktop.svg) no-repeat bottom right;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 60px;
}

.titulo {
  width: 80%;
  margin-left: 45px;
}

.titulo h1 {
  color: var(--Very-Dark-Magenta);
  font-size: 40px;
  margin-bottom: 10px;
}

.titulo p {
  color: var(--Dark-Grayish-Magenta);
}


.estrela {
  margin-bottom: 10px;
  width: 60%;
  padding: 15px;
  background-color: var(--Light-Grayish-Magenta);
  border-radius: 5px;
}

.estrela-2 {
  margin-left: 30px;
}

.estrela-3 {
  margin-left: 60px;
}

.estrela span {
  margin-left: 15px;
  font-weight: bold;
  font-size: 12px;
}

.perfils {
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;

}

.perfil {
  border: 1px solid black;
  width: 30%;
  padding: 25px;
  height: 250px;
  border-radius: 5px;
  background-color: var(--Very-Dark-Magenta);
}

.perfil p {
  font-size: 12px;
  line-height: 1.5;
  color: var(--White);
}

.perfil-1 {
  margin-top: 20px;
}

.perfil-2 {
  margin-top: 40px;
}

.foto-perfil {
  display: flex;
  align-items: center;
}

.foto-perfil img {
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 50%;
}

.nome-perfil  {
  font-size: 8px;
}

.nome-perfil h1 {
  color: var(--White);
}

.nome-perfil h4 {
  color: var(--Dark-Grayish-Magenta);
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 5px;
    left: 40%;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  @media screen and (max-width: 900px) {
    .principal {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
    }

    .titulo {
      text-align: center;
      width: 90%;
      margin-left: 0px;
    }

    .estrelas {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .estrela {
      width: 100%;
      margin-left: 0px;
    }

    .perfils {
      margin-top: 0px;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: auto;
    }


    .perfil {
      width: 100%;
    }

    .attribution {
      margin-top: 20px;
      position: static;
    }
  }